@using ACC.ViewModels.WorkflowVM
@model List<FolderVM>

<ul>
    @foreach (var folder in Model)
    {
        <li>
            <input type="radio" name="SelectedDistFolderId" value="@folder.Id" id="folder_@folder.Id" />
            <label for="folder_@folder.Id"><strong>@folder.Name</strong></label>

            @if (folder.Children != null && folder.Children.Any())
            {
                @Html.Partial("_FolderTree", folder.Children)
            }
        </li>
    }
</ul>

