.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 180px;
    height: calc(100vh - 60px);
    background-color:white;
    color: white;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .sidebar ul li {
            padding: 5px;
            display: flex;
            align-items: center;
            transition: background-color 0.3s;
        }

            .sidebar ul li:hover {
                background-color: #495;
            }

            .sidebar ul li i {
                margin-right: 5px;
            }

    .sidebar.collapsed {
        width: 60px;
        background-color: white;
    }

        .sidebar.collapsed ul li span {
            display: none;
        }

        .sidebar.collapsed ul li i {
            margin-right: 0;
            margin-left: -15px;
            color: black;
        }

.content {
    margin-left: 250px;
    padding-top: 80px;
    transition: margin-left 0.3s ease-in-out;
}

.sidebar.collapsed + .content {
    margin-left: 60px;
}
